<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="">EasyBuy <img height="25px" width="25px" src="../../../assets/images/shopping-cart.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active">about</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link active" >contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" >cart</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
            
          </div>
        </div>
      </nav>
</header>

<body>
    <div class="container">
    <div id="mainbox">
    <div class="row" >
        <div class="col-md-4" id="box1">
          <br>
         <h1>Login</h1>
         <br>
         <br>
         <h3>Get acces to your orders,wishlist and recommendation</h3>
         <br>
         <br>
         <img src="../../../assets/images/buy-now.png" height="300px" width="300px">
       
        </div>
   <div class="col-md-8" id="box2">
   <form [formGroup]="loginUser" (ngSubmit)="login()" >
    <h4>login with your credentials</h4>
   <div class="from-group">
       <label> Email: </label>
       <input type="text" class="form-control" formControlName="email">
       <small *ngIf="loginUser.get('email').errors?.required && issub"> email is required</small>
       <small *ngIf="loginUser.get('email').invalid && loginUser.get('email').touched"> please check the email</small>
   </div>
   <div class="from-group">
       <label> User Name : </label>
       <input type="text" class="form-control" formControlName="username">
       <small *ngIf="loginUser.get('username').errors?.required && issub"> username is required</small>
       <small *ngIf="loginUser.get('username').errors?.required && loginUser.get('username').touched"> username is required</small>
       
   </div>
   <div class="from-group">
       <label> password :</label>
       <input type="password" class="form-control" formControlName="password">
       <small *ngIf="loginUser.get('password').errors?.required && issub"> password is required</small>
       <small *ngIf="loginUser.get('password').errors?.pattern && loginUser.get('password').touched"> please check password </small>  
   </div>
   <br>

   <button type="submit" class="btn btn-primary">login</button>
</form>
</div>
</div>
</div>
</div>
</body>